.dh-character__list {
  display: grid;
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  gap: 32px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  margin: 32px auto;
  max-width: 1400px;
  padding: 0 16px;
  width: 100%;
}
